@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primary-color: #327ab8;
@mixin easeOut {
    transition: all .5s ease-in-out;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    //HEADER
        //Top Menu
    .top-menu{
        background-color: $primary-color;
        width: 100%;
        padding: 0 40px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .top-menu-links {
            a {
                color: #fff;
                margin: 0 10px;
            }
        }
        .top-menu-contact {
            a {
                color: #fff;
            }
        } 
    }
        //Main Menu
    .main-menu {
        width: 100%;
        height: 50px;
        margin: 10px 0;
        .logo-search{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            .menu-toggle {
                margin: 20px;
                .menu-line {
                    background-color: #000;
                    width: 30px;
                    height: 4px;
                    border-radius: 4px;
                    &:nth-child(2){
                        margin: 5px 0;
                    }
                }
            }
            //search bar
            .search {
                margin: 0 60px;
                position: relative;
                input {
                    width: 300px;
                    height: 30px;
                    &::placeholder{
                        font-size: 12px;
                        padding: 0 5px;
                    }
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 9px;
                    color: rgba(#000, 0.5);
                }
            }
        }
        //Main nav
        nav {
            margin: 20px 0;    
            align-items: center;
            .main-nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                li {
                    list-style: none;
                    margin: 0 20px;
                    a {
                        color: #000;
                        font-size: 15px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 600;
                        @include easeOut;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    //CTA HEADER
    .first-cta-header{
        width: 100%;
        height: 400px;
        background-color: rgba(#000, 0.5);
        background-image: url("../img/bg-electronics.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#000, 0.6);
        }
        .header-links {
            position: absolute;
            top: 20px;
            left: 40px;
            z-index: 1;
            a {
                margin: 0 10px;
                color: #fff;
            }
        }
        .header-main-content {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            h1 {
                font-size: 60px;
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 0;
            }
            p {
                font-size: 35px;
                margin: 0 0 30px;
            }
            a.btn-cta {
                margin: 10px;
                font-size: 30px;
                text-transform: uppercase;
                border: solid 4px #fff;
                border-radius: 5px;
                padding: 10px 15px;
                text-decoration: none;
                color: #fff;
                @include easeOut;
                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }
            .bottom-links {
                margin-top: 40px;
                span {
                    font-size: 20px;
                }
                a {
                    font-size: 20px;
                    color: #fff;
                    margin: 0 10px;
                    text-decoration: underline;
                    @include easeOut;
                    &:nth-child(3), &:nth-child(4){
                        border-left: solid 2px #fff;
                        padding-left: 30px;
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    //MAIN
    .main-content {
        margin: 30px 40px;
        h2 {
            text-transform: uppercase;
            font-weight: 600;
        }
        .gallery {
            .row {
                margin: 
                .subcategory-card {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 23%;
                    height: 200px;
                    margin: 10px 10px;
                    background-color: rgba($primary-color, 0.5);
                    h3 {
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}