@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@media screen and (max-width: 415px) {
  .menu-nav {
    width: 100% !important;
  }
  .main-menu > .logo-search > .menu-toggle {
    position: absolute;
    top: -5px;
    left: -10px;
  }
  .logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  .first-cta-header {
    height: 300px !important;
  }
  .first-cta-header .header-main-content {
    width: 100%;
    padding: 0 auto;
  }
  .first-cta-header .header-main-content h1 {
    font-size: 35px !important;
  }
  .first-cta-header .header-main-content p {
    font-size: 15px !important;
  }
  .first-cta-header .header-main-content a.btn-cta {
    font-size: 15px !important;
  }
}

@media (min-width: 416px) and (max-width: 750px) {
  .menu-nav {
    width: 75% !important;
  }
  .main-menu > .logo-search > .menu-toggle {
    position: absolute;
    top: -5px;
    left: -10px;
  }
  .logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  .first-cta-header {
    height: 300px !important;
  }
  .first-cta-header .header-main-content {
    width: 100%;
    padding: 0 auto;
  }
  .first-cta-header .header-main-content h1 {
    font-size: 35px !important;
  }
  .first-cta-header .header-main-content p {
    font-size: 15px !important;
  }
  .first-cta-header .header-main-content a.btn-cta {
    font-size: 15px !important;
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  .first-cta-header {
    height: 300px !important;
  }
  .first-cta-header .header-main-content {
    width: 100%;
    padding: 0 auto;
  }
  .first-cta-header .header-main-content h1 {
    font-size: 50px !important;
  }
  .first-cta-header .header-main-content p {
    font-size: 25px !important;
  }
  .first-cta-header .header-main-content a.btn-cta {
    font-size: 20px !important;
  }
  .first-cta-header .header-main-content .bottom-links {
    font-size: 10px !important;
    margin: 20px 0 !important;
  }
}

.menu-toggle {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 5;
  margin: 20px;
}

.menu-toggle.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-toggle.close .menu-line:nth-child(1) {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  background-color: #fff;
}

.menu-toggle.close .menu-line:nth-child(2) {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.menu-toggle.close .menu-line:nth-child(3) {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
  background-color: #fff;
}

.menu-toggle .menu-line {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #000;
  width: 30px;
  height: 4px;
  border-radius: 4px;
}

.menu-toggle .menu-line:nth-child(2) {
  margin: 5px 0;
}

.menu-nav {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 50%;
  background-color: rgba(37, 90, 136, 0.9);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  z-index: 2;
  -webkit-transform: translate3d(-1000px, 0, 0);
          transform: translate3d(-1000px, 0, 0);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-nav.show {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-nav .nav-item {
  margin-bottom: 20px;
  padding: 5px 20px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  text-decoration: none;
  -webkit-transform: translate3d(-1000px, 0, 0);
          transform: translate3d(-1000px, 0, 0);
}

.menu-nav .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-nav .nav-item:hover {
  color: #333;
  background-color: #fff;
}

.menu-nav .nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-nav .nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav .nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav .nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

body .top-menu {
  background-color: #327ab8;
  width: 100%;
  padding: 0 40px;
  height: 25px;
}

body .top-menu .top-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .top-menu .top-menu-content .top-menu-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 15px;
}

body .top-menu .top-menu-content .top-menu-contact a {
  color: #fff;
  font-size: 15px;
}

body .main-menu {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  position: relative;
}

body .main-menu .logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .main-menu .logo-search .search {
  margin: 0 60px;
  position: relative;
}

body .main-menu .logo-search .search input {
  width: 300px;
  height: 30px;
}

body .main-menu .logo-search .search input::-webkit-input-placeholder {
  font-size: 12px;
  padding: 0 5px;
}

body .main-menu .logo-search .search input:-ms-input-placeholder {
  font-size: 12px;
  padding: 0 5px;
}

body .main-menu .logo-search .search input::-ms-input-placeholder {
  font-size: 12px;
  padding: 0 5px;
}

body .main-menu .logo-search .search input::placeholder {
  font-size: 12px;
  padding: 0 5px;
}

body .main-menu .logo-search .search i {
  position: absolute;
  right: 10px;
  top: 9px;
  color: rgba(0, 0, 0, 0.5);
}

body .main-menu nav {
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-menu nav .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .main-menu nav .main-nav li {
  list-style: none;
  margin: 0 20px;
}

body .main-menu nav .main-nav li a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .main-menu nav .main-nav li a:hover {
  color: #327ab8;
}

body .first-cta-header {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/bg-electronics.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

body .first-cta-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

body .first-cta-header .header-links {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 1;
}

body .first-cta-header .header-links a {
  margin: 0 10px;
  color: #fff;
}

body .first-cta-header .header-main-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

body .first-cta-header .header-main-content h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

body .first-cta-header .header-main-content p {
  font-size: 35px;
  margin: 0 0 30px;
}

body .first-cta-header .header-main-content a.btn-cta {
  margin: 10px;
  font-size: 30px;
  text-transform: uppercase;
  border: solid 4px #fff;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .first-cta-header .header-main-content a.btn-cta:hover {
  color: #000;
  background-color: #fff;
}

body .first-cta-header .header-main-content .bottom-links {
  margin-top: 40px;
}

body .first-cta-header .header-main-content .bottom-links span {
  font-size: 20px;
}

body .first-cta-header .header-main-content .bottom-links a {
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  text-decoration: underline;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

body .first-cta-header .header-main-content .bottom-links a:nth-child(3), body .first-cta-header .header-main-content .bottom-links a:nth-child(4) {
  border-left: solid 2px #fff;
  padding-left: 30px;
}

body .first-cta-header .header-main-content .bottom-links a:hover {
  color: #327ab8;
}

body .main-content {
  margin: 30px 40px;
}

body .main-content h2 {
  text-transform: uppercase;
  font-weight: 600;
}

body .main-content .product-gallery .row .subcategory-card {
  margin: 10px 0;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(1) > .card-content {
  background-image: url(../img/headphones.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(1) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(1) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(1) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(2) > .card-content {
  background-image: url(../img/car.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(2) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(2) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(2) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(2) > .card-content h3 {
  color: #000;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(3) > .card-content {
  background-image: url(../img/headphones.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(3) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(3) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(3) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(4) > .card-content {
  background-image: url(../img/car.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(4) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(4) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(4) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(4) > .card-content h3 {
  color: #000;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(5) > .card-content {
  background-image: url(../img/headphones.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(5) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(5) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(5) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(6) > .card-content {
  background-image: url(../img/car.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(6) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(6) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(6) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(6) > .card-content h3 {
  color: #000;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(7) > .card-content {
  background-image: url(../img/headphones.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(7) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(7) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(7) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(8) > .card-content {
  background-image: url(../img/car.jpg);
  background-size: cover;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(8) > .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(8) > .card-content:hover:after {
  background-color: transparent;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(8) > .card-content:hover h3 {
  color: #327ab8;
  background-color: #fff;
  padding: 10px;
}

body .main-content .product-gallery .row .subcategory-card:nth-child(8) > .card-content h3 {
  color: #000;
}

body .main-content .product-gallery .row .subcategory-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .main-content .product-gallery .row .subcategory-card .card-content .card-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*# sourceMappingURL=main.css.map */